{:objects
 {:Info
  {:fields
   {:id {:type String}
    :name {:type String}
    :amount {:type Float}}}
  :UUID
  {:fields
   {:uuid {:type String}}}}

 :queries
 {:savings
  {:type  Info
   :args {:uuid {:type (non-null String)}}
   :resolve :query/savings}

  :accounts
  {:type  (list UUID)
   :resolve :query/accounts}}

 :mutations
 {:deposit
  {:type :Info
   :args
   {:uuid {:type (non-null String)}
    :amount {:type (non-null Float)}}
   :resolve :mutation/deposit}}}
