{:objects
 {:Info
  {:fields
   {:id {:type String}
    :name {:type String}
    :amount {:type Float}}}}

 :queries
 {:savings
  {:type  Info
   :args {:id {:type (non-null String)}}

   :resolve :query/savings}}}
